.card{
text-align: center;padding: 4rem;
}
.card h1{
    font-size: 3rem;
}
.card .plans{
    display: flex;justify-content: center;align-items: center;margin-top: 5rem;
    gap: 3rem;flex-wrap: wrap;
}
.singlecard{
    height: 22rem;width: 20rem;padding: 2rem;background-color:gainsboro;border-radius: 2rem;
    text-align: start;transition: 0.3s all;
}
.singlecard:hover{
transform: scale(1.05);
}
.singlecard a{
    background:black;
    border: 1px solid black;
    color: white;
    padding: .3rem 1rem .3rem 1rem;
    font-size: 1rem;border-radius: .5rem;
    margin-top: 3rem;font-size: 1.1rem;
}
.singlecard a:hover{
    background: transparent;
    border: 1px solid black;
    color: black;
}
.singlecard .center{text-align: center;}
.singlecard h2{
    color:black;font-size: 2.3rem;
    }
.singlecard h4{
    font-size: 2rem;color: black;margin-top: 1.5rem;
}
.containt{margin: 1rem 0 1rem 0}
.containt span{
    font-size: 1.2rem;color: black;padding: .3rem;
}
.singlecard .btn{
    text-align: center;
}