/* ============================hero section===================== */
.hero video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.hero .herocontent {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    padding: 2rem;
}

.herocontent h1 {
    color: white;
    font-size: 4rem;
}

.herocontent p {
    color: white;
    font-size: 1.3rem;
}

.herocontent .herobtn1 {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: .2rem 1rem .2rem 1rem;
    font-size: 1rem;
    margin-top: 2rem;
}

.herocontent .herobtn1:hover {
    background: transparent;
    border: 1px solid orangered;
    color: orangered;
}

.herocontent .herobtn2 {
    border: 1px solid white;
    color: black;
    opacity: .8;
    background-color: rgb(255, 255, 255);
    padding: .2rem 1.7rem .2rem 1.7rem;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem;
}

.herocontent .herobtn2:hover {
    border: 1px solid orangered;
    color: orangered;
    opacity: 1;
    background: transparent;
}

@media(max-width:450px) {
    .hero video {
        width: 456px;
        height: 577px;
        background-size: cover;
    }

    .hero .herocontent {
        flex-direction: column;
        text-align: center;
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translate(-50%);
    }

    .herocontent h1 {
        color: white;
        font-size: 3.6rem;
    }

    .hamberger {
        display: block;
        font-size: 2rem;
        margin-right: 1rem;
    }

    .menulink {
        height: 610px;
    }
}

@media(max-width:375px) {
    .hero video {
        width: 456px;
        height: 612px;
        background-size: cover;
    }

    .hero .herocontent {
        flex-direction: column;
        text-align: center;
        margin-left: 1.7rem;
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%);
    }

    .herocontent h1 {
        color: white;
        font-size: 3.6rem;
    }
}

@media(max-width:320px) {
    .hero video {
        width: 456px;
        height: 717px;
        background-size: cover;
    }

    .hero .herocontent {
        flex-direction: column;
        position: absolute;
        top: 43%;
        left: 58%;
        transform: translate(-50%);
    }

    .herocontent h1 {
        color: white;
        font-size: 3.6rem;
    }

    .menulink {
        height: 714px;
    }
}

/* =============================about section========================= */
.aboutsection {
    width: 100%;
    height: 100vh;
    padding: 2rem;
    display: block;
}

.aboutsection h1 {
    font-size: 3rem;text-align: center;justify-content: center;
}

.aboutsection .aboutcontent {
    display: flex;margin-top: 2rem;gap: 1.5rem;
}

.aboutcontent img {
    width: 100%;
}
.aboutcontent .planning h2{font-size:2rem;margin-left: .8rem;}
.aboutcontent p {
    height: auto;
    width: 100%;
    font-size: 1.4rem;
}
.ourpartner{
    text-align: center;
}
.ourpartner .partner img{
    height: 350px;width: 50%;
}
@media(max-width:992px){
    .aboutsection .aboutcontent {
        display: flex;flex-direction: column;
    }
}
/* =======================service section========================== */
.service{
    width: 100%;
    background-color: black;text-align: center;margin-top: 22rem;padding: 0 2rem 0 2rem;
}
.service h1{
    font-size: 3rem;margin-bottom: 2rem;
}
.service img{
    height: 400px;width: 100%;border-radius: 2rem;padding: 1rem;
}
/* @media(max-width:1498px){
    .service{
    margin-top:28rem;
    }
    .service img{
        height: 400px;width: 100%;border-radius: 2rem;padding: 1rem;
    }
} */
/* @media(min-width:1440px){
    .service{
    padding: rem 3rem 2rem 3rem;
    }
    .service img{
        height: 400px;width: 100%;border-radius: 2rem;padding: 1rem;
    }
} */
/* @media(max-width:1440px){
    .service{
    margin-top: 4rem;padding: 0 2rem 0 2rem;
    }
    .service img{
        height: 400px;width: 100%;border-radius: 2rem;padding: 1rem;
    }
} */ 
 @media(max-width:1024px){
    .service{
        width: 100%;
        text-align: center;padding: 0 3rem 2rem 3rem;
    }
    .service img{
        height: 350px;width: 100%;
    }
    .ourpartner .partner img{
        height: auto;width: 100%;margin-top: 2rem;
    }
}

@media(max-width:992px){
    .service{
        width: 100%;
        background-color: black;text-align: center;padding: 25rem 3rem 2rem 3rem;
    }
    .ourpartner .partner img{
        height: 350px;width: 90%;margin-top: 2.5rem;
    }
}
@media(max-width:425px){
    .service{
        width: 100%;margin-left: 1rem;
        background-color: black;text-align: center;padding: 23rem 3rem 2rem 3rem;
    }
    .ourpartner .partner img{
        height: 350px;width: 110%;
    }
    .ourpartner h1{
        text-align: center;margin-left: 2.5rem;
    }
    .aboutcontent{
        display: block;
    }
    .aboutcontent .aboutimg{
        width: 400px;height: 400px;
    }
} 
/* ====================call to action==================== */
.call-to-action{
    background-color: #111111;flex-direction: column;margin-top: 3rem;
    justify-content: center;display: flex;align-items: center;padding: 2rem;
}
.call-to-action h2{
    font-size: 2.3rem;color: white;
}
.call-to-action button{
    border: 1px solid white;padding: .1rem 2rem .3rem 2rem;font-size: 1.3rem;
    background-color: transparent;cursor: pointer;
}
.call-to-action button:hover{
    color: orangered;border-color: orangered;
}
/* ============================model css===================== */
.layer{
    position: fixed;top: 0;left: 0;width: 100%;height: 100%;align-items: center;
    background-color: rgb(0, 0,0,.8);display: flex;justify-content: center;z-index: 99999;
}
.layer .maindiv{
    height: 250px;width: 500px;background-color: rgb(255, 3, 3);border-radius: 2rem;padding: 6rem;
}
.maindiv .cross{
    position: absolute;top: 2rem;right: 2rem;font-size: 2rem;font-weight: 100;
}
.maindiv p{
    font-size: 1.4rem;padding-left: 1rem;
}
@media(max-width:576px){
    .call-to-action h2{
        font-size: 2.3rem;color: white;text-align: center;
    }
}
@media(min-width:1024px){
    .layer .maindiv{
        height: 250px;width: 350px;background-color: rgb(255, 3, 3);border-radius: 1rem;padding: 1.3rem;
        padding-top: 5.5rem;
    }
}
@media(max-width:425px){
    .layer .maindiv{
        height: 250px;width: 350px;background-color: rgb(255, 3, 3);border-radius: 1rem;padding: 1.3rem;
        padding-top: 5.5rem;
    }
}
/* =============================faq section======================= */
.faq h1{
text-align: center;
}
.faq h1{
    font-size: 3.4rem;margin-top: 2rem;
}
.maindiv{
    width: auto;background-color: #111111;
    margin: auto;margin: 0 5rem 0 5rem;
}
.faq_answer.show{
max-height: 0px;overflow: hidden;transition: all .5s cubic-bezier(0,1,0,1);
}
.faq_question{
    display: flex;justify-content: space-between;margin: 1rem;padding-top: 1rem;
    transition: all 1s cubic-bezier(8,0,8,0);
}
.faq_question .question span{
    font-size: 1.5rem;
}
p{
    font-size: .5rem;padding: 1rem;
}
.faq_question #uparrow{
    font-size: 1.5rem;color: white;
}
.uparrow{
    transform: rotate(180deg);
    transition: all 3s cubic-bezier(0,0,0,1);
}
